{
  "ADMOB_ANDROID_APP_ID": "ca-app-pub-REPLACE_ME~REPLACE_ME",
  "ADMOB_ANDROID_TEST_BANNER_AD_UNIT_ID": "ca-app-pub-REPLACE_ME/REPLACE_ME",
  "ADMOB_ANDROID_LIVE_BANNER_AD_UNIT_ID": "ca-app-pub-REPLACE_ME/REPLACE_ME"
}
